header
    .container-fluid#header
        .row
            .col-xs-12
                div#nav-search-input
                    .site-search-input-wrapper
                    span.glyphicon.glyphicon-search#glyphicon-search2
                    form(role='', action='', method='get')
                        input.site-search-input#search-terms(type='text', name='search-terms', placeholder='Print here')
                    span.glyphicon.glyphicon-remove
            .col-xs-10.col-sm-6.col-lg-3.site-name
                a(href='/') Mama Help
            .col-xs-2.col-sm-6.col-lg-2.col-lg-push-7.nav-btn-holder
                .col-sm-12.padding-zero.margin-bottom-15
                    button.js-click-unsensitive.pull-right.site-search.btn-custom.nav-search-label#site-search-button(type='button')
                        span.glyphicon.glyphicon-search.nav-search-label.js-click-unsensitive
                    .hidden-xs.lang-switcher.pull-right
                        ul.nav
                            each val in systemLocales
                                if val != locale
                                    li.pull-right
                                        a(href='/#{val}')
                                            img(src='/img/#{val}.png')
                .hidden-xs.col-sm-12.padding-zero
                    include user-dropdown
            nav.navbar.navbar-default.col-xs-3.col-sm-12.col-lg-6.col-lg-pull-2

                button.navbar-toggle.collapsed.pull-left#toggle-nav-btn(type='button' data-toggle='collapse' data-target='#navbar-collapse-1' aria-expanded='false')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .collapse.navbar-collapse#navbar-collapse-1
                    if !user
                        ul.nav.navbar-nav
                            li
                                a.header-link-font(href='') Home
                            li
                                a.header-link-font(href='') About project
                            li
                                a.header-link-font(href='') Blog
                            li
                                a.header-link-font(href='') Forum
                    else
                        ul.nav.navbar-nav
                            li
                                a.header-link-font(href='') Connections
                            li
                                a.header-link-font(href='') Bookmarks
                            li
                                a.header-link-font(href='') Blog
                            li
                                a.header-link-font(href='') Forum

            .col-xs-9.hidden-sm.hidden-md.hidden-lg
                include user-dropdown

                                //**************LogIn modal***********************
.modal.fade#logInFormModal(tabindex='-1', role='dialog', aria-labelledby='logInFormLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='false') &times;
            .modal-body.center-block.login-modal
                ul.nav
                    li
                        form(action='/auth/twitter' method='get')
                            button.btn-social.btn-twitter(type='submit') Login with Twitter
                                span.fa.fa-twitter

                    li
                        form(action='/auth/facebook' method='get')
                            button.btn-social.btn-facebook(type='submit') Login with Facebook
                                span.fa.fa-facebook

                    li
                        form(action='/auth/google' method='get')
                            button.btn-social.btn-google(type='submit') Login with Google
                                span.fa.fa-google-plus







    div
        a(href='/') Mama Help
        if !user
            div
                a(href="/auth/twitter") Login with Twitter
            div
                a(href="/auth/facebook") Login with Facebook
            div
                a(href="/auth/google") Login with Google
        else
            div #{__('Hello')} #{user.name}
            div
                a(href="/auth/logout") Logout
        div


    div Current user locale: #{locale}
    div
        ul
            each val in systemLocales
                li= val
